APP_NAME=LoyaltyOS
APP_ENV=local
APP_KEY=base64:M6LUa+NH2FhSxjshmyERYYB0b/5b1OL568wx4L6dfKo=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=loyalty_dev
DB_USERNAME=loyalty_app
DB_PASSWORD=25dff8fc496472bba52ff7840cc32e205dc51fda1e7a543b
DB_ADMIN_USERNAME=myuser
DB_ADMIN_PASSWORD=password123
DB_SSLMODE=prefer

SESSION_DRIVER=redis
SESSION_CONNECTION=default
SESSION_STORE=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
CACHE_DRIVER=redis
CACHE_STORE=redis

FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

BROADCAST_DRIVER=pusher
PUSHER_APP_ID=2073730
PUSHER_APP_KEY=4415384666c77ac08748
PUSHER_APP_SECRET=466625c127a080cc3455
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap2
BROADCAST_CONNECTION=pusher

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_FROM_ADDRESS=no-reply@loyaltyos.local
MAIL_FROM_NAME="${APP_NAME}"
MAIL_USERNAME=5256eb06146247
MAIL_PASSWORD=f61f24039de57c

SMS_DRIVER=twilio
TWILIO_ACCOUNT_SID=AC6da66587278ddf39b39de24a4642a395
TWILIO_AUTH_TOKEN=d8a565fe3b20faf63694173fe5d21f58
TWILIO_FROM_NUMBER=+923064526821
TWILIO_MESSAGING_SERVICE_SID=

# MAIL_MAILER=log
# MAIL_SCHEME=null
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"

SAFEPAY_PUBLIC_KEY=sec_46f8bdc5-b431-492c-b905-6a86ff558803
SAFEPAY_SECRET_KEY=49fb8608c82461d252757b13bcd7a25e50f834150ce176b21063c4ed671539d1
SAFEPAY_WEBHOOK_SECRET=ff73608e0e0ae895ac270198f63e89c8405915ab70ca840292c4e37e9b08f1bb
SAFEPAY_ENVIRONMENT=sandbox

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
